@use '../themes/theme' as *;
.ham {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 15;
  display: none;
  @include tablet{display: block;}
  @include mobile{display: block;}
  label {
    padding: 25px;
    border: 1px solid var(--text-color-3);
  }
}
