.records {
  ul {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    overflow-y: auto;
    padding-bottom: 50px;
    li {
      width: calc((100% - 10px) / 3);
      .thumbnail {
        a {
          display: block;
          transition: all .1s;
          &:hover{
            opacity: .9;
          }
          img {
            width: 100%;
            height: 240px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
.feed {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  .feed_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .body {
      .record_contents {
        margin: 20px 0;
      }
    }
  }
}

.record_contents {
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  gap: 10px;
  span {
    font-weight: 500;
  }
  p {
  }
}

