.recruits {
  padding-top: 50px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    li {
      display: flex;
      flex-direction: column;
      gap: 14px;
      .recruit_head {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        font-size: var(--text-size-base);
        & > div:first-child {
          flex: 1;
        }
      }
      .recruit_body {
        border-radius: 10px;
        background-color: var(--bg-color-3);
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        h4 {
          font-size: 16px;
          font-weight: 500;
        }
        p {
          font-size: 14px;
          line-height: 1.3;
        }
      }
    }
  }
}
