ul.recruitManagement {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  & > li {
    background-color: var(--bg-color-3);
    border-bottom: 1px solid var(--bg-color-3);
    border-left: 1px solid var(--bg-color-3);
    border-right: 1px solid var(--bg-color-3);
    .recruitItemCont {
      padding: 14px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .sportsBadge {
        padding: 3px 10px;
        background-color: springgreen;
        color: #222;
        font-size: var(--text-size-xs);
      }
      .cont {
        flex: 1;
        .title {
          p {
            font-size: var(--text-size-base);
            color: var(--text-color-1);
            margin-bottom: 8px;
            font-weight: 600;
          }
        }
        .sub {
          font-size: var(--text-size-xs);
          display: flex;
          align-items: center;
          gap: 6px;
          p.subCon {
            &::before {
              content: 'â—';
              display: inline-block;
              margin-right: 2px;
            }
            color: var(--text-color-1);
            font-weight: 600;
          }
          p.conditions {
            span {
              color: var(--text-color-3);
            }
          }
        }
      }
      & > a {
        background-color: var(--text-color-3);
        font-size: var(--text-size-xs);
        color: var(--bg-color-2);
        padding: 8px 10px;
      }
      p.status {
      font-size: var(--text-size-base);
      }
    }
  }
}
