.rolebg{
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  background-color: #000000aa;
  z-index: 10;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .roleInner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    p{
      font-size: 20px;
      text-align: center;
      line-height: 1.5;
      color: #fff;
    }
    a{
      background-color: red;
      color: #fff;
      padding: 14px 30px;
      border-radius: 10px;
      font-size: 17px;
    }
  }
}