@use '../themes/theme' as *;
@use '../base/variables' as *;
.user_info {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h3 {
    font-size: 20px;
    font-weight: 500;
    @include mobile {
      font-size: 15px;
    }
  }
  p {
    color: gray;
    font-size: 13px;
    font-weight: 400;
  }
  &:is(.userInfoSec > div) {
    gap: 5px;
    h3 {
      font-size: 15px;
      color: var(--text-color-1);
    }
    p {
      font-size: 12px;
    }
  }
}

.userInfoSec {
  display: flex;
  align-items: center;
  gap: 10px;
}
