@use '../themes/theme' as *;
@use '../base/variables' as *;
#header {
  background-color: var(--main-color1);
  min-width: 300px;
  width: 24%;
  .head_inner {
    overflow-y: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 40px;
    position: relative;
    .user_profile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    nav {
      flex: 1;
      width: 100%;
      padding-left: 40px;
      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        li {
          width: 100%;
          display: flex;
          align-items: center;
          background-color: transparent;
          transition: all 0.1s;

          a {
            display: block;
            width: 100%;
            &:hover > span {
              background-color: #333333f7;
            }
            span {
              background-color: transparent;
              transition: all 0.1s;
              display: flex;
              align-items: center;
              width: fit-content;
              gap: 13px;
              padding: 15px 20px;
              color: #fff;
              border-radius: 14px;
              font-size: var(--text-size-xl);
              svg {
                width: 25px;
                height: 25px;
                color: #fff;
              }
            }
          }
        }
      }
    }

    .iconWrap {
      display: flex;
      align-items: center;
      gap: 20px;
      position: fixed;
      transform: translateX(-50%);
      z-index: 100;
      left: 50%;
      bottom: 20px;
      background-color: var(--main-color1);
      box-shadow: 0 0 10px 0 #00000029;
      padding: 15px 22px;
      border-radius: 50px;
      svg {
        width: 32px;
        height: 32px;
        color: #fff;
      }
    }
  }
}
