@use '../themes/theme' as *;
@use '../base/variables' as *;
#header {
  background-color: var(--main-color1);
  min-width: 300px;
  width: 24%;
  height: 100%;
  &.block {
    display: block;
  }
  @include tablet {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 52;
  }
  @include mobile {
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    z-index: 52;
  }

  .head_inner {
    overflow-y: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 40px;
    position: relative;
    & > .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.88;
      img {
        width: 65%;
        display: block;
      }
    }
    .user_profile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      & > div {
        border-radius: 50%;
        background-color: #fff;
      }
    }
    nav {
      flex: 1;
      width: 100%;
      padding-left: 40px;
      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        li {
          width: 100%;
          display: flex;
          align-items: center;
          background-color: transparent;
          transition: all 0.1s;

          a {
            display: block;
            width: 100%;
            &:hover > span {
              background-color: #333333f7;
            }
            & > span {
              background-color: transparent;
              transition: all 0.1s;
              display: flex;
              align-items: center;
              width: fit-content;
              gap: 13px;
              padding: 15px 20px;
              position: relative;
              color: #fff;
              border-radius: 14px;
              font-size: var(--text-size-xl);

              svg {
                width: 25px;
                height: 25px;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
span:has(span.light) {
  svg {
    transform-origin: top center;
    animation: move infinite .6s alternate-reverse;
    fill: yellow;
  }
}
@keyframes move {
  0%{
    transform: rotate(-15deg);
  }
  100%{
    transform: rotate(15deg);

  }
}
span.light {
  width: 7px;
  height: 7px;
  // background-color: rgb(20, 255, 4);
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 23px;
}
#wrap > .iconWrap {
  display: flex;
  align-items: center;
  gap: 20px;
  position: fixed;
  transform: translateX(-50%);
  z-index: 40;
  left: 50%;
  bottom: 20px;
  background-color: var(--main-color1);
  box-shadow: 0 0 10px 0 #00000029;
  padding: 15px 22px;
  border-radius: 50px;
  svg {
    width: 32px;
    height: 32px;
    color: #fff;
  }
}

