.tab_contents {
  margin-top: 30px;
  & > div {
    min-height: 200px;
    display: none;
    &.active {
      display: block;
    }
  }
  &:is(.home_section > div) {
    width: 80%;
    margin: 0 auto;
    // border: 2px solid #ddd;
  }
}
