html,
body {
  width: 100%;
  height: 100%;
}
body:has(.centered) {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap {
  display: flex;
  width: 100%;
  max-width: 1000px;
  border-right: 1px solid #000;
  height: 100%;
  margin: 0 auto;
}
