@use '../base/variables' as *;
:root {
  // ### margin,padding
  --side-padding: 4rem;
  --padding-1: 1.6rem;
  --padding-2: 1.2rem;
  --padding-3: 0.8rem;
  --padding-4: 0.4rem;
  --margin-1: 1.6rem;
  --margin-2: 1.2rem;
  --margin-3: 0.8rem;
  --margin-4: 0.4rem;

  // ### font-size
  --text-size-5xl: 4.8rem;
  --text-size-4xl: 3.6rem;
  --text-size-3xl: 3rem;
  --text-size-2xl: 2.4rem;
  --text-size-xl: 2rem;
  --text-size-lg: 1.8rem;
  --text-size-base: 1.6rem;
  --text-size-sm: 1.4rem;
  --text-size-xs: 1.2rem;

  // ### color
  --main-color1: rgb(0, 0, 0);
}

html[data-theme='dark'] {
  --main-color-brand: #{$main-color-brand};
  --main-color-red: #{$main-color-red};
  --main-color-orange: #{$main-color-orange};
  --text-color-1: #{$text-color-off-1};
  --text-color-2: #{$text-color-off-2};
  --text-color-3: #{$text-color-off-3};
  --text-color-4: #{$text-color-off-4};
  --text-color-5: #{$text-color-off-5};
  --bg-color-1: #{$bg-color-off-1};
  --bg-color-2: #{$bg-color-off-2};
  --bg-color-3: #{$bg-color-off-3};
  --bg-color-4: #{$bg-color-off-4};
}
html[data-theme='light'] {
  --main-color-brand: #{$main-color-brand};
  --main-color-red: #{$main-color-red};
  --main-color-orange: #{$main-color-orange};
  --text-color-1: #{$text-color-on-1};
  --text-color-2: #{$text-color-on-2};
  --text-color-3: #{$text-color-on-3};
  --text-color-4: #{$text-color-on-4};
  --text-color-5: #{$text-color-on-5};
  --bg-color-1: #{$bg-color-on-1};
  --bg-color-2: #{$bg-color-on-2};
  --bg-color-3: #{$bg-color-on-3};
  --bg-color-4: #{$bg-color-on-4};
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1203px) {
    @content;
  }
}
