* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.padding0 {
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background-color: var(--text-color-3);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

html, body {
  width: 100%;
  height: 100%;
}

#wrap {
  display: flex;
  width: 100%;
  max-width: 1000px;
  border-right: 1px solid #000;
  height: 100%;
  margin: 0 auto;
}

:root {
  --side-padding: 4rem;
  --padding-1: 1.6rem;
  --padding-2: 1.2rem;
  --padding-3: 0.8rem;
  --padding-4: 0.4rem;
  --margin-1: 1.6rem;
  --margin-2: 1.2rem;
  --margin-3: 0.8rem;
  --margin-4: 0.4rem;
  --text-size-5xl: 4.8rem;
  --text-size-4xl: 3.6rem;
  --text-size-3xl: 3rem;
  --text-size-2xl: 2.4rem;
  --text-size-xl: 2rem;
  --text-size-lg: 1.8rem;
  --text-size-base: 1.6rem;
  --text-size-sm: 1.4rem;
  --text-size-xs: 1.2rem;
  --main-color1: rgb(0, 0, 0);
}

html[data-theme=dark] {
  --main-color-brand: #256df9;
  --main-color-red: #e45141;
  --main-color-orange: #f57e25;
  --text-color-1: #fff;
  --text-color-2: #f2f2f2;
  --text-color-3: #d8d8d8;
  --text-color-4: #d8d8d8;
  --text-color-5: #777;
  --bg-color-1: #252a33;
  --bg-color-2: #2a303d;
  --bg-color-3: #3f4246;
  --bg-color-4: #464e5b;
}

html[data-theme=light] {
  --main-color-brand: #256df9;
  --main-color-red: #e45141;
  --main-color-orange: #f57e25;
  --text-color-1: #242424;
  --text-color-2: #555;
  --text-color-3: #a5a5a5;
  --text-color-4: #6f6f6f;
  --text-color-5: #dfdfdf;
  --bg-color-1: #eee;
  --bg-color-2: #fff;
  --bg-color-3: #f2f2f2;
  --bg-color-4: #ececec;
}

#header {
  background-color: var(--main-color1);
  min-width: 300px;
  width: 24%;
}
#header .head_inner {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 40px;
}
#header .head_inner .user_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#header .head_inner nav {
  flex: 1;
  width: 100%;
  padding-left: 40px;
}
#header .head_inner nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#header .head_inner nav ul li {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: all 0.1s;
}
#header .head_inner nav ul li a {
  display: block;
  width: 100%;
}
#header .head_inner nav ul li a:hover > span {
  background-color: rgba(51, 51, 51, 0.968627451);
}
#header .head_inner nav ul li a span {
  background-color: transparent;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 13px;
  padding: 15px 20px;
  color: #fff;
  border-radius: 14px;
  font-size: var(--text-size-xl);
}
#header .head_inner nav ul li a span svg {
  width: 25px;
  height: 25px;
  color: #fff;
}
#header .head_inner .iconWrap {
  display: flex;
  align-items: center;
  gap: 20px;
  position: fixed;
  transform: translateX(-50%);
  z-index: 100;
  left: 50%;
  bottom: 20px;
  background-color: var(--main-color1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1607843137);
  padding: 20px 40px;
  border-radius: 50px;
}
#header .head_inner .iconWrap svg {
  width: 36px;
  height: 36px;
  color: #fff;
}

main {
  width: 100%;
  overflow-y: auto;
}
main > * {
  padding: 0 var(--side-padding);
}
main section {
  padding-bottom: 100px !important;
}

.avatar_img {
  width: 100%;
  height: 100%;
  max-width: 230px;
}
.avatar_img p {
  color: #fff;
}
.avatar_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#title {
  --padding-1: 25px;
  border-bottom: 1px solid var(--text-color-3);
  width: 100%;
  padding-top: 5%;
  padding-bottom: var(--padding-1);
  display: flex;
}
#title h2 {
  font-size: var(--text-size-2xl);
  position: relative;
  font-weight: 400;
}
#title h2::after {
  content: "";
  display: block;
  background-color: var(--text-color-1);
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: calc(var(--padding-1) * -1);
  transform: translateY(50%);
}

.cate {
  position: relative;
}
.cate ul {
  display: flex;
  border-bottom: 1px solid;
  align-items: center;
  position: relative;
}
.cate ul li {
  cursor: pointer;
  width: 50%;
  text-align: center;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color-1);
}
.cate span.border {
  display: block;
  background-color: var(--text-color-1);
  height: 4px;
  width: 50px;
  position: absolute;
  transform: translateX(-50%);
  bottom: 0;
  left: 0;
  transition: all 0.2s;
}

.records ul {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  overflow-y: auto;
  padding-bottom: 50px;
}
.records ul li {
  width: calc((100% - 10px) / 3);
}
.records ul li .thumbnail {
  position: relative;
}
.records ul li .thumbnail::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
.records ul li .thumbnail a {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.1s;
}
.records ul li .thumbnail a:hover {
  opacity: 0.9;
}
.records ul li .thumbnail a img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feed {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.feed .feed_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.feed .feed_content .body .record_contents {
  margin: 20px 0;
}

.record_contents {
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  align-items: center;
  gap: 10px;
}
.record_contents span {
  font-weight: 500;
  font-size: var(--text-size-lg);
}
.record_contents p {
  font-weight: 500;
  font-size: var(--text-size-sm);
}

.recruits {
  padding-top: 50px;
}
.recruits ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}
.recruits ul li {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.recruits ul li .recruit_head {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  font-size: var(--text-size-base);
}
.recruits ul li .recruit_head > div:first-child {
  flex: 1;
}
.recruits ul li .recruit_body {
  border-radius: 10px;
  background-color: var(--bg-color-3);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.recruits ul li .recruit_body h4 {
  font-size: 16px;
  font-weight: 500;
}
.recruits ul li .recruit_body p {
  font-size: 14px;
  line-height: 1.3;
}

.user_info {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user_info h3 {
  font-size: 20px;
  font-weight: 500;
}
.user_info p {
  color: gray;
  font-size: 13px;
  font-weight: 400;
}
.user_info:is(.userInfoSec > div) {
  gap: 5px;
}
.user_info:is(.userInfoSec > div) h3 {
  font-size: 15px;
  color: var(--text-color-1);
}
.user_info:is(.userInfoSec > div) p {
  font-size: 12px;
}

.userInfoSec {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment {
  display: flex;
  margin: 20px 0;
  align-items: flex-start;
  gap: 10px;
}
.comment .comment_body ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.comment .comment_body ul li:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 10px;
}
.comment .comment_body ul li:nth-child(1) span {
  font-size: 12px;
}
.comment .comment_body ul li:nth-child(1) span:first-child {
  font-weight: 500;
  color: var(--text-color-1);
}
.comment .comment_body ul li:nth-child(1) span:last-child {
  color: var(--text-color-3);
  font-size: 11px;
}
.comment .comment_body ul li:nth-child(2) {
  font-size: 14px;
  color: var(--text-color-1);
  color: var(--text-color-1);
}
.comment .comment_body ul li:nth-child(3) button {
  font-size: 11px;
  color: var(--text-color-3);
}

.hoverScaleAct {
  transform: scale(1);
  transition: all 0.1s;
  cursor: pointer;
}
.hoverScaleAct:hover {
  transform: scale(1.15);
}

.profile_info {
  background-color: var(--bg-color-4);
  padding-top: 50px;
  position: relative;
  padding-bottom: 30px;
}
.profile_info::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--bg-color-2);
  width: 100%;
  height: 50px;
  z-index: 0;
  bottom: 0;
  left: 0;
}
.profile_info .inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 30px;
}

.profile_contents {
  background-color: var(--bg-color-2);
  padding: 0;
  position: relative;
}

.home_section {
  height: 100%;
  overflow-y: auto;
}
.home_section .top_section {
  background-color: rgba(255, 255, 255, 0.0588235294);
  transition: all 0.4s;
  position: sticky;
  top: 0;
  padding-top: 40px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.home_section .top_section:is(.scrolled > div) {
  padding-top: 60px;
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.1215686275);
}
.home_section .top_section:is(.scrolled > div) ul {
  border-bottom: none;
}

.go_to_follow {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
  padding: 30px;
  border-radius: 20px;
  border: 1px dashed #ccc;
  font-size: var(--text-size-base);
}
.go_to_follow p {
  color: var(--text-color-3);
}
.go_to_follow span {
  font-size: 50px;
}
.go_to_follow a {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--text-color-3);
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--bg-color-2);
  transition: all 0.1s;
}
.go_to_follow a:hover {
  opacity: 0.8;
}
.go_to_follow a svg {
  width: 25px;
  height: 25px;
}

.notifications {
  margin-top: 40px;
}
.notifications ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.notifications ul li .alert {
  cursor: pointer;
  background-color: var(--bg-color-2);
  transition: all 0.08s;
}
.notifications ul li .alert > * {
  font-size: var(--text-size-sm);
}
.notifications ul li .alert > div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.notifications ul li .alert:hover {
  transform: scale(1.02);
}
.notifications ul li .alert svg {
  width: 25px;
  height: 25px;
}

.explore-form {
  padding-top: 3rem;
}
.explore-form > h1 {
  font-size: var(--text-size-xl);
  font-weight: 700;
  margin-bottom: 3rem;
}
.explore-form h2 {
  min-width: 6rem;
  font-size: var(--text-size-base);
  font-weight: 500;
  margin-bottom: 1rem;
  white-space: nowrap;
  margin-top: 1rem;
  margin-right: 2rem;
}
.explore-form .tit-input-wrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.explore-form .tit-input-wrap > input {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--text-color-5);
  font-size: var(--text-size-sm);
}
.explore-form .tit-input-wrap > textarea {
  width: 100%;
  height: 10rem;
  padding: 1rem;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--text-color-5);
  font-size: var(--text-size-sm);
  resize: none;
}
.explore-form .input-wrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.explore-form .input-wrap > .input-box {
  display: flex;
}
.explore-form .input-wrap > .input-box > input {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--text-color-5);
  font-size: var(--text-size-sm);
}
.explore-form .input-wrap > .input-box > p {
  display: flex;
  align-items: center;
  font-size: var(--text-size-sm);
  margin-left: 0.5rem;
  color: var(--text-color-2);
}
.explore-form .category-wrap {
  display: flex;
  margin-bottom: 2rem;
}
.explore-form .category-wrap .category-con {
  display: flex;
  align-items: center;
}
.explore-form .category-wrap .category-con .from-to-line {
  width: 2rem;
  height: 0.1rem;
  background-color: var(--text-color-5);
  margin: 0 1rem 0 0.5rem;
}
.explore-form .category-wrap button {
  display: flex;
  align-items: center;
  font-size: var(--text-size-sm);
  margin-right: 0.5rem;
  padding: 0 1.2rem;
  line-height: 3rem;
  height: 3rem;
  position: relative;
  cursor: pointer;
  border: 0.1rem solid var(--text-color-5);
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: content-box;
}
.explore-form .category-wrap button.active {
  border: 0.1rem solid var(--main-color-brand);
  color: var(--main-color-brand);
}
.explore-form .category-wrap button.active .category-arrow {
  transform: rotate(180deg);
  padding-left: 0rem;
  padding-right: 0.5rem;
}
.explore-form .category-wrap button .category-arrow {
  padding-left: 0.5rem;
}
.explore-form .category-wrap .filter-dialog {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  transition: opacity 0.3s ease;
}
.explore-form .category-wrap .filter-dialog .modal-wrapper {
  height: -moz-fit-content;
  height: fit-content;
  width: 36rem;
  right: 0;
  top: 50%;
  bottom: 50%;
  margin: auto;
  border-radius: 2rem;
  transform: initial;
  animation: none;
  background-color: var(--bg-color-2);
}
.explore-form .category-wrap .filter-dialog .modal-header {
  padding: 1.6rem 2rem;
  min-height: 4rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-size: var(--text-size-lg);
}
.explore-form .category-wrap .filter-dialog .modal-header h3 {
  display: flex;
  align-items: center;
}
.explore-form .category-wrap .filter-dialog .modal-body {
  overflow-y: auto;
  padding: 1rem 2rem 1rem 2rem;
}
.explore-form .category-wrap .filter-dialog .modal-body li {
  box-shadow: inset 0 -0.1rem 0 #d9e0e6;
  margin: 0;
  min-height: 5rem;
  line-height: 5rem;
  font-size: var(--text-size-sm);
  background-color: var(--bg-color-2);
}
.explore-form .category-wrap .filter-dialog .modal-body li:last-child {
  box-shadow: none;
}

main:has(section) {
  overflow-y: unset;
}

.record_detail_sec {
  overflow-y: auto;
  height: 100%;
  padding: 0;
}
.record_detail_sec > * {
  padding: 0 var(--side-padding);
}
.record_detail_sec .page_top {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: transparent;
  transition: all 0.4s;
  padding: 40px 7% 30px;
  position: sticky;
  top: 0;
}
.record_detail_sec .page_top:is(.scrolled > div) {
  margin: 20px;
  top: 10px;
  border-radius: 14px;
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.1215686275);
  padding-left: 70px;
}
.record_detail_sec .page_top:is(.scrolled > div) button {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.record_detail_sec .page_top:is(.scrolled > div) button svg {
  width: 38px;
  height: 38px;
}
.record_detail_sec .page_top button {
  transition: all 0.3s;
  position: absolute;
  left: 15px;
  top: 15px;
}
.record_detail_sec .page_top button svg {
  width: 33px;
  height: 33px;
  color: var(--text-color-1);
  transform: scale(1);
}
.record_detail_sec .page_mid .icon_wrap {
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 15px;
}
.record_detail_sec .page_mid .icon_wrap svg {
  width: 22px;
  height: 22px;
}
.record_detail_sec .page_btm {
  margin: 20px 0;
}

.tab_contents > div {
  min-height: 200px;
  display: none;
}
.tab_contents > div.active {
  display: block;
}
.tab_contents:is(.home_section > div) {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}/*# sourceMappingURL=main.css.map */