@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.padding0 {
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background-color: var(--text-color-3);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

html,
body {
  width: 100%;
  height: 100%;
}

body:has(.centered) {
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrap {
  display: flex;
  width: 100%;
  max-width: 1000px;
  border-right: 1px solid #000;
  height: 100%;
  margin: 0 auto;
}

:root {
  --side-padding: 4rem;
  --padding-1: 1.6rem;
  --padding-2: 1.2rem;
  --padding-3: 0.8rem;
  --padding-4: 0.4rem;
  --margin-1: 1.6rem;
  --margin-2: 1.2rem;
  --margin-3: 0.8rem;
  --margin-4: 0.4rem;
  --text-size-5xl: 4.8rem;
  --text-size-4xl: 3.6rem;
  --text-size-3xl: 3rem;
  --text-size-2xl: 2.4rem;
  --text-size-xl: 2rem;
  --text-size-lg: 1.8rem;
  --text-size-base: 1.6rem;
  --text-size-sm: 1.4rem;
  --text-size-xs: 1.2rem;
  --main-color1: rgba(0, 0, 0, 0.646);
}

html[data-theme=dark] {
  --main-color-brand: #256df9;
  --main-color-red: #e45141;
  --main-color-orange: #f57e25;
  --text-color-1: #fff;
  --text-color-2: #f2f2f2;
  --text-color-3: #d8d8d8;
  --text-color-4: #d8d8d8;
  --text-color-5: #777;
  --bg-color-1: #252a33;
  --bg-color-2: #2a303d;
  --bg-color-3: #3f4246;
  --bg-color-4: #464e5b;
}

html[data-theme=light] {
  --main-color-brand: #256df9;
  --main-color-red: #e45141;
  --main-color-orange: #f57e25;
  --text-color-1: #242424;
  --text-color-2: #555;
  --text-color-3: #a5a5a5;
  --text-color-4: #6f6f6f;
  --text-color-5: #dfdfdf;
  --bg-color-1: #eee;
  --bg-color-2: #fff;
  --bg-color-3: #f2f2f2;
  --bg-color-4: #ececec;
}

#header {
  background-color: var(--main-color1);
  min-width: 300px;
  width: 24%;
}
#header .head_inner {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 40px;
  position: relative;
}
#header .head_inner .user_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#header .head_inner nav {
  flex: 1;
  width: 100%;
  padding-left: 40px;
}
#header .head_inner nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#header .head_inner nav ul li {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: all 0.1s;
}
#header .head_inner nav ul li a {
  display: block;
  width: 100%;
}
#header .head_inner nav ul li a:hover > span {
  background-color: rgba(51, 51, 51, 0.968627451);
}
#header .head_inner nav ul li a span {
  background-color: transparent;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 13px;
  padding: 15px 20px;
  color: #fff;
  border-radius: 14px;
  font-size: var(--text-size-xl);
}
#header .head_inner nav ul li a span svg {
  width: 25px;
  height: 25px;
  color: #fff;
}
#header .head_inner .iconWrap {
  display: flex;
  align-items: center;
  gap: 20px;
  position: fixed;
  transform: translateX(-50%);
  z-index: 100;
  left: 50%;
  bottom: 20px;
  background-color: var(--main-color1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1607843137);
  padding: 15px 22px;
  border-radius: 50px;
}
#header .head_inner .iconWrap svg {
  width: 32px;
  height: 32px;
  color: #fff;
}

main {
  width: 100%;
  overflow-y: auto;
  position: relative;
}
main > * {
  padding: 0 var(--side-padding);
}
main > section {
  padding-bottom: 100px !important;
}
main:is(main > section) {
  overflow-y: unset;
}

.avatar_img {
  width: 100%;
  height: 100%;
  max-width: 230px;
}
.avatar_img p {
  color: #fff;
}
.avatar_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

#title {
  --padding-1: 25px;
  border-bottom: 1px solid var(--text-color-3);
  width: 100%;
  padding-top: 5%;
  padding-bottom: var(--padding-1);
  display: flex;
}
#title h2 {
  font-size: var(--text-size-2xl);
  position: relative;
  font-weight: 400;
}
#title h2::after {
  content: "";
  display: block;
  background-color: var(--text-color-1);
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: calc(var(--padding-1) * -1);
  transform: translateY(50%);
}

.cate {
  position: relative;
}
.cate ul {
  display: flex;
  border-bottom: 1px solid;
  align-items: center;
  position: relative;
}
.cate ul li {
  cursor: pointer;
  width: 50%;
  text-align: center;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color-1);
}
.cate span.border {
  display: block;
  background-color: var(--text-color-1);
  height: 4px;
  width: 50px;
  position: absolute;
  transform: translateX(-50%);
  bottom: 0;
  left: 0;
  transition: all 0.2s;
}

.records ul {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  overflow-y: auto;
  padding-bottom: 50px;
}
.records ul li {
  width: calc((100% - 10px) / 3);
}
.records ul li .thumbnail {
  position: relative;
}
.records ul li .thumbnail::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
.records ul li .thumbnail a {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.1s;
}
.records ul li .thumbnail a:hover {
  opacity: 0.9;
}
.records ul li .thumbnail a img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feed {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.feed .feed_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.feed .feed_content > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feed .feed_content > div:first-child > div:first-child {
  flex: 1;
}
.feed .feed_content .body > a > div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.feed .feed_content .body > a > div img {
  border-radius: 14px;
  display: block;
  width: calc((100% - 10px) / 2);
  flex-grow: 1;
  max-height: 20rem;
  object-fit: cover;
}
.feed .feed_content .body .record_contents {
  margin: 20px 0;
}

.record_contents {
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  align-items: center;
  gap: 10px;
}
.record_contents span {
  font-weight: 500;
  font-size: var(--text-size-lg);
}
.record_contents p {
  font-weight: 500;
  font-size: var(--text-size-sm);
}

span.dayjs {
  font-size: var(--text-size-xs);
  color: var(--text-color-3);
}

.recruits {
  padding-top: 50px;
}
.recruits ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}
.recruits ul li {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.recruits ul li .recruit_head {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  font-size: var(--text-size-base);
}
.recruits ul li .recruit_head > div:first-child {
  flex: 1;
}
.recruits ul li .recruit_body {
  border-radius: 10px;
  background-color: var(--bg-color-3);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.recruits ul li .recruit_body h4 {
  font-size: 16px;
  font-weight: 500;
}
.recruits ul li .recruit_body p {
  font-size: 14px;
  line-height: 1.3;
}

.user_info {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user_info h3 {
  font-size: 20px;
  font-weight: 500;
}
.user_info p {
  color: gray;
  font-size: 13px;
  font-weight: 400;
}
.user_info:is(.userInfoSec > div) {
  gap: 5px;
}
.user_info:is(.userInfoSec > div) h3 {
  font-size: 15px;
  color: var(--text-color-1);
}
.user_info:is(.userInfoSec > div) p {
  font-size: 12px;
}

.userInfoSec {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment {
  display: flex;
  margin: 20px 0;
  align-items: flex-start;
  gap: 10px;
}
.comment .comment_body ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.comment .comment_body ul li:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 10px;
}
.comment .comment_body ul li:nth-child(1) span {
  font-size: 12px;
}
.comment .comment_body ul li:nth-child(1) span:first-child {
  font-weight: 500;
  color: var(--text-color-1);
}
.comment .comment_body ul li:nth-child(1) span:last-child {
  color: var(--text-color-3);
  font-size: 11px;
}
.comment .comment_body ul li:nth-child(2) {
  font-size: 14px;
  color: var(--text-color-1);
  color: var(--text-color-1);
}
.comment .comment_body ul li:nth-child(3) button {
  font-size: 11px;
  color: var(--text-color-3);
}

.closeModalBtn {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
.closeModalBtn svg {
  width: 23px;
  height: 23px;
}

.commentInput {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
}
.commentInput .inner {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px 20px;
}
.commentInput .inner > input {
  flex: 1;
  background-color: transparent;
  border: 1px solid #717171;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: var(--text-size-base);
  color: #ccc;
}
.commentInput .inner > input::placeholder {
  color: #686868;
  font-size: var(--text-size-base);
}
.commentInput .inner > input:focus {
  outline-color: #fff;
}
.commentInput .inner > button svg {
  width: 30px;
  height: 30px;
  color: #fff;
}
.commentInput button.close {
  position: absolute;
  top: 9px;
  right: 10px;
}
.commentInput button.close svg {
  width: 17px;
  height: 17px;
  color: #ccc;
}

.hoverScaleAct {
  transform: scale(1);
  transition: all 0.1s;
  cursor: pointer;
}
.hoverScaleAct:hover {
  transform: scale(1.15);
}

#modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.368627451);
}
#modal .modalInner {
  min-width: 50dvw;
  width: fit-content;
  max-width: 100dvw;
  padding: 35px 20px;
  background-color: var(--bg-color-2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}
#modal .modalInner > div:not(.closeModalBtn) {
  min-height: 200px;
  overflow-y: auto;
  height: 100%;
}

ul.evaluationList {
  margin: 30px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
ul.evaluationList > li {
  background-color: var(--bg-color-3);
  border-bottom: 1px solid var(--bg-color-3);
  border-left: 1px solid var(--bg-color-3);
  border-right: 1px solid var(--bg-color-3);
}
ul.evaluationList > li .evitemCont {
  padding: 14px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
ul.evaluationList > li .evitemCont .sportsBadge {
  padding: 3px 10px;
  background-color: springgreen;
  color: #222;
  font-size: var(--text-size-xs);
}
ul.evaluationList > li .evitemCont .cont {
  flex: 1;
}
ul.evaluationList > li .evitemCont .cont .title p {
  font-size: var(--text-size-base);
  color: var(--text-color-1);
  margin-bottom: 8px;
  font-weight: 600;
}
ul.evaluationList > li .evitemCont .cont .sub {
  font-size: var(--text-size-xs);
  display: flex;
  align-items: center;
  gap: 6px;
}
ul.evaluationList > li .evitemCont .cont .sub p.subCon {
  color: var(--text-color-1);
  font-weight: 600;
}
ul.evaluationList > li .evitemCont .cont .sub p.subCon::before {
  content: "●";
  display: inline-block;
  margin-right: 2px;
}
ul.evaluationList > li .evitemCont .cont .sub p.conditions span {
  color: var(--text-color-3);
}
ul.evaluationList > li .evitemCont > a {
  background-color: var(--text-color-3);
  font-size: var(--text-size-xs);
  color: var(--bg-color-2);
  padding: 5px 10px;
}
ul.evaluationList > li .evitemCont button {
  transition: all 0.2s;
}
ul.evaluationList > li .evitemCont button svg {
  width: 20px;
  height: 20px;
}
ul.evaluationList > li .evitemCont button.active {
  transform: rotate(180deg);
}
ul.evaluationList > li .evitemList {
  display: none;
}
ul.evaluationList > li .evitemList.show {
  display: block;
}
ul.evaluationList > li .evitemList ul {
  background-color: var(--bg-color-2);
  display: flex;
  flex-wrap: wrap;
}
ul.evaluationList > li .evitemList ul li {
  padding: 16px 0;
  width: 50%;
  text-align: center;
  list-style: circle;
  list-style-position: inside;
}
ul.evaluationList > li .evitemList ul li p {
  display: inline-block;
  font-size: var(--text-size-base);
  font-weight: 600;
}
ul.evaluationList > li .evitemList ul li span {
  font-size: var(--text-size-xs);
}

ul.applicationsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
ul.applicationsList > li {
  background-color: var(--bg-color-3);
  border-bottom: 1px solid var(--bg-color-3);
  border-left: 1px solid var(--bg-color-3);
  border-right: 1px solid var(--bg-color-3);
}
ul.applicationsList > li .applicationCont {
  padding: 14px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
ul.applicationsList > li .applicationCont .sportsBadge {
  padding: 3px 10px;
  background-color: springgreen;
  color: #222;
  font-size: var(--text-size-xs);
}
ul.applicationsList > li .applicationCont .cont {
  flex: 1;
}
ul.applicationsList > li .applicationCont .cont p {
  font-size: var(--text-size-base);
  color: var(--text-color-1);
  font-weight: 600;
}
ul.applicationsList > li .applicationCont .buttonWrap {
  display: flex;
  align-items: center;
  gap: 4px;
}
ul.applicationsList > li .applicationCont .buttonWrap button {
  padding: 9px 10px;
  border-radius: 4px;
  font-size: var(--text-size-xs);
}
ul.applicationsList > li .applicationCont .buttonWrap button.cancle {
  background-color: transparent;
  color: var(--text-color-2);
  border: 1px solid var(--text-color-2);
}
ul.applicationsList > li .applicationCont .buttonWrap button.applying {
  background-color: var(--text-color-3);
  color: var(--bg-color-2);
}
ul.applicationsList > li .applicationCont .buttonWrap button.rejected {
  background-color: var(--text-color-2);
  color: var(--bg-color-2);
}
ul.applicationsList > li .applicationCont .buttonWrap button.accepted {
  background-color: rgb(0, 214, 7);
  color: var(--bg-color-2);
}

ul.recruitManagement {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
ul.recruitManagement > li {
  background-color: var(--bg-color-3);
  border-bottom: 1px solid var(--bg-color-3);
  border-left: 1px solid var(--bg-color-3);
  border-right: 1px solid var(--bg-color-3);
}
ul.recruitManagement > li .recruitItemCont {
  padding: 14px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
ul.recruitManagement > li .recruitItemCont .sportsBadge {
  padding: 3px 10px;
  background-color: springgreen;
  color: #222;
  font-size: var(--text-size-xs);
}
ul.recruitManagement > li .recruitItemCont .cont {
  flex: 1;
}
ul.recruitManagement > li .recruitItemCont .cont .title p {
  font-size: var(--text-size-base);
  color: var(--text-color-1);
  margin-bottom: 8px;
  font-weight: 600;
}
ul.recruitManagement > li .recruitItemCont .cont .sub {
  font-size: var(--text-size-xs);
  display: flex;
  align-items: center;
  gap: 6px;
}
ul.recruitManagement > li .recruitItemCont .cont .sub p.subCon {
  color: var(--text-color-1);
  font-weight: 600;
}
ul.recruitManagement > li .recruitItemCont .cont .sub p.subCon::before {
  content: "●";
  display: inline-block;
  margin-right: 2px;
}
ul.recruitManagement > li .recruitItemCont .cont .sub p.conditions span {
  color: var(--text-color-3);
}
ul.recruitManagement > li .recruitItemCont > a {
  background-color: var(--text-color-3);
  font-size: var(--text-size-xs);
  color: var(--bg-color-2);
  padding: 8px 10px;
}
ul.recruitManagement > li .recruitItemCont p.status {
  font-size: var(--text-size-base);
}

.profile_info {
  background-color: var(--bg-color-4);
  padding-top: 50px;
  position: relative;
  padding-bottom: 30px;
}
.profile_info::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--bg-color-2);
  width: 100%;
  height: 50px;
  z-index: 0;
  bottom: 0;
  left: 0;
}
.profile_info .inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 30px;
}

.profile_contents {
  background-color: var(--bg-color-2);
  padding: 0;
  position: relative;
}

.home_section {
  height: 100%;
  overflow-y: auto;
}
.home_section .top_section {
  background-color: rgba(255, 255, 255, 0.0588235294);
  transition: all 0.4s;
  position: sticky;
  top: 0;
  padding-top: 40px;
  backdrop-filter: blur(10px);
}
.home_section .top_section:is(.scrolled > div) {
  padding-top: 60px;
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.1215686275);
}
.home_section .top_section:is(.scrolled > div) ul {
  border-bottom: none;
}

.go_to_follow {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
  padding: 30px;
  border-radius: 20px;
  border: 1px dashed #ccc;
  font-size: var(--text-size-base);
}
.go_to_follow p {
  color: var(--text-color-3);
}
.go_to_follow span {
  font-size: 50px;
}
.go_to_follow a {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--text-color-3);
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--bg-color-2);
  transition: all 0.1s;
}
.go_to_follow a:hover {
  opacity: 0.8;
}
.go_to_follow a svg {
  width: 25px;
  height: 25px;
}

.explore-form {
  padding-top: 3rem;
  padding-bottom: 6rem;
}
.explore-form > h1 {
  font-size: var(--text-size-xl);
  font-weight: 700;
  margin-bottom: 3rem;
}
.explore-form h2 {
  min-width: 6rem;
  font-size: var(--text-size-base);
  font-weight: 500;
  margin-bottom: 1rem;
  white-space: nowrap;
  margin-top: 1rem;
  margin-right: 2rem;
}
.explore-form .tit-input-wrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.explore-form .tit-input-wrap > input {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--text-color-5);
  font-size: var(--text-size-sm);
}
.explore-form .tit-input-wrap > textarea {
  width: 100%;
  height: 10rem;
  padding: 1rem;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--text-color-5);
  font-size: var(--text-size-sm);
  resize: none;
}
.explore-form .input-wrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.explore-form .input-wrap > .input-box {
  display: flex;
}
.explore-form .input-wrap > .input-box > input {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--text-color-5);
  font-size: var(--text-size-sm);
}
.explore-form .input-wrap > .input-box > p {
  display: flex;
  align-items: center;
  font-size: var(--text-size-sm);
  margin-left: 0.5rem;
  color: var(--text-color-2);
}
.explore-form .category-wrap {
  display: flex;
  margin-bottom: 2rem;
}
.explore-form .category-wrap .category-con {
  display: flex;
  align-items: center;
}
.explore-form .category-wrap .category-con .from-to-line {
  width: 2rem;
  height: 0.1rem;
  background-color: var(--text-color-5);
  margin: 0 1rem 0 0.5rem;
}
.explore-form .category-wrap button {
  display: flex;
  align-items: center;
  font-size: var(--text-size-sm);
  margin-right: 0.5rem;
  padding: 0 1.2rem;
  line-height: 3rem;
  height: 3rem;
  position: relative;
  cursor: pointer;
  border: 0.1rem solid var(--text-color-5);
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: content-box;
}
.explore-form .category-wrap button.active {
  border: 0.1rem solid var(--main-color-brand);
  color: var(--main-color-brand);
}
.explore-form .category-wrap button.active .category-arrow {
  transform: rotate(180deg);
  padding-left: 0rem;
  padding-right: 0.5rem;
}
.explore-form .category-wrap button .category-arrow {
  padding-left: 0.5rem;
}
.explore-form .category-wrap .filter-dialog {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  transition: opacity 0.3s ease;
}
.explore-form .category-wrap .filter-dialog .modal-wrapper {
  height: fit-content;
  width: 36rem;
  right: 0;
  top: 50%;
  bottom: 50%;
  margin: auto;
  border-radius: 2rem;
  transform: initial;
  animation: none;
  background-color: var(--bg-color-2);
}
.explore-form .category-wrap .filter-dialog .modal-header {
  padding: 1.6rem 2rem;
  min-height: 4rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-size: var(--text-size-lg);
}
.explore-form .category-wrap .filter-dialog .modal-header h3 {
  display: flex;
  align-items: center;
}
.explore-form .category-wrap .filter-dialog .modal-body {
  overflow-y: auto;
  padding: 1rem 1rem 1rem 2rem;
}
.explore-form .category-wrap .filter-dialog .modal-body li {
  box-shadow: inset 0 -0.1rem 0 #d9e0e6;
  margin: 0;
  min-height: 5rem;
  line-height: 5rem;
  font-size: var(--text-size-sm);
  background-color: var(--bg-color-2);
}
.explore-form .category-wrap .filter-dialog .modal-body li:last-child {
  box-shadow: none;
}

.back-arrow {
  padding: 0px 1rem;
  height: 4rem;
  border-radius: 10rem;
  background-color: var(--text-color-1);
  color: var(--bg-color-2);
  font-weight: 700;
  font-size: 1.4rem;
  transition: all 0.1s ease-out 0s;
}
.back-arrow > i {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  vertical-align: middle;
}
.back-arrow > i:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.8rem;
  height: 0.8rem;
  border-top: 0.2rem solid var(--bg-color-2);
  border-left: 0.2rem solid var(--bg-color-2);
  transform: translate(-35%, -55%) rotate(315deg);
}

.recruit-detail-wrap {
  height: 100%;
  overflow-y: auto;
  padding: 0;
}
.recruit-detail-wrap .content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s;
  position: sticky;
  top: 0;
  padding: 2rem var(--side-padding) 2rem;
  backdrop-filter: blur(10px);
  z-index: 10;
}
.recruit-detail-wrap .content-header:is(.scrolled > div) {
  padding-top: 6rem;
}

.content-body {
  margin: 0 auto;
  background-color: var(--bg-color-2);
  padding: 0 2rem 10rem;
  height: calc(100% - 8rem);
}
.content-body .map-wrap {
  height: 30rem;
}
.content-body .main-body-wrap {
  display: flex;
  color: var(--text-color-1);
  font-size: var(--text-size-base);
}
.content-body .main-body-wrap .left-body-wrap {
  width: 100%;
}
.content-body .main-body-wrap .left-body-wrap .match-point-con {
  background-color: var(--bg-color-2);
  border-radius: 1rem;
  margin-top: 1rem;
  box-shadow: rgba(73, 73, 73, 0.1) 0 1.2rem 2.5rem 0;
}
.content-body .main-body-wrap .left-body-wrap .match-point-con .match-title {
  font-weight: 700;
  font-size: var(--text-size-xl);
  padding: 2rem 1.4rem;
}
.content-body .main-body-wrap .left-body-wrap .match-point-con .match-content {
  padding: 0 1.4rem 2.4rem 1.4rem;
}
.content-body .main-body-wrap .left-body-wrap .match-point-con .match-content .data-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.content-body .main-body-wrap .left-body-wrap .match-point-con .match-content .data-wrap .data-box {
  width: 48%;
  display: inline-flex;
  align-items: center;
  padding: 1rem 0;
}
.content-body .main-body-wrap .left-body-wrap .match-point-con .match-content .data-wrap .data-box > p {
  padding-left: 1rem;
}
.content-body .main-body-wrap .left-body-wrap .match-point-con .match-content .average-wrap {
  margin-top: 1rem;
  border-top: 0.1rem solid var(--text-color-5);
}
.content-body .main-body-wrap .left-body-wrap .match-point-con .match-content .average-wrap > .average-title {
  margin-top: 2rem;
}
.content-body .main-body-wrap .left-body-wrap .recruit-detail-con {
  margin-top: 1rem;
  background-color: var(--bg-color-2);
  border-radius: 1rem;
  box-shadow: rgba(73, 73, 73, 0.1) 0 1.2rem 2.5rem 0;
}
.content-body .main-body-wrap .left-body-wrap .recruit-detail-con .match-title {
  font-weight: 600;
  font-size: var(--text-size-xl);
  padding: 2rem 1.4rem;
}
.content-body .main-body-wrap .left-body-wrap .recruit-detail-con .match-content {
  padding: 0 1.4rem 2.4rem 1.4rem;
  line-height: 1.35;
}
.content-body .main-body-wrap .right-body-wrap {
  width: 60%;
  min-width: 38rem;
  margin-top: 1rem;
  margin-left: 1rem;
  height: fit-content;
  position: sticky;
  position: -webkit-sticky;
  top: 9rem;
  z-index: 3;
}
.content-body .main-body-wrap .right-body-wrap .apply-con {
  background-color: var(--bg-color-2);
  border-radius: 1rem;
  padding: 2rem 1.4rem;
  box-shadow: rgba(73, 73, 73, 0.1) 0 1.2rem 2.5rem 0;
}
.content-body .main-body-wrap .right-body-wrap .apply-con .apply-main-section .match-person {
  color: var(--text-color-3);
}
.content-body .main-body-wrap .right-body-wrap .apply-con .apply-main-section .match-title {
  font-weight: 600;
  font-size: var(--text-size-xl);
  padding: 2rem 0;
}
.content-body .main-body-wrap .right-body-wrap .apply-con .apply-main-section .match-time {
  color: var(--text-color-1);
  font-size: var(--text-size-base);
  padding-bottom: 1rem;
  font-weight: 700;
}
.content-body .main-body-wrap .right-body-wrap .apply-con .apply-main-section .match-time .match-time-info {
  color: var(--bg-color-1);
  background-color: var(--text-color-1);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  font-size: var(--text-size-xs);
  font-weight: 400;
  margin-right: 0.5rem;
}
.content-body .main-body-wrap .right-body-wrap .apply-con .apply-main-section .match-place {
  color: var(--text-color-1);
  font-size: var(--text-size-base);
  padding-bottom: 3rem;
  font-weight: 700;
  line-height: 1.5;
}
.content-body .main-body-wrap .right-body-wrap .apply-con .apply-main-section .match-place .match-place-info {
  color: var(--bg-color-1);
  background-color: var(--text-color-1);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  font-size: var(--text-size-xs);
  font-weight: 400;
  margin-right: 0.5rem;
}
.content-body .main-body-wrap .right-body-wrap .apply-con .apply-main-section .match-price {
  color: var(--main-color-red);
  font-size: var(--text-size-xl);
  padding-bottom: 1rem;
  font-weight: 700;
  line-height: 1.5;
}
.content-body .main-body-wrap .right-body-wrap .apply-con .apply-register-section {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 0.1rem solid var(--text-color-5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-body .main-body-wrap .right-body-wrap .apply-con .apply-register-section .apply-status {
  color: var(--bg-text-1);
  font-size: var(--text-size-lg);
}

.mypageWrap {
  padding: 0;
}
.mypageWrap > #title {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}
.mypageWrap > section .mpTop {
  padding: 0 var(--side-padding);
}
.mypageWrap > section .mpTop .basicInfo {
  display: flex;
  align-items: center;
  padding: 25px 0;
  gap: 40px;
}
.mypageWrap > section .mpTop .basicInfo > div:first-child {
  width: 100px;
}
.mypageWrap > section .mpTop .basicInfo > div:nth-child(2) {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.mypageWrap > section .mpTop .basicInfo > div:nth-child(2) h4 {
  font-size: var(--text-size-xl);
  font-weight: 500;
  color: var(--text-color-1);
}
.mypageWrap > section .mpTop .basicInfo > div:nth-child(2) p {
  font-size: var(--text-size-xs);
  color: var(--text-color-3);
}
.mypageWrap > section .mpTop .basicInfo > div:nth-child(2) span {
  color: var(--text-color-3);
  font-size: var(--text-size-xs);
}
.mypageWrap > section .mpTop .basicInfo > div.btnWrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.mypageWrap > section .mpTop .basicInfo > div.btnWrap button {
  padding: 5px 20px;
  border-radius: 30px;
  border: 1px solid var(--text-color-1);
}
.mypageWrap > section .mpTop .basicInfo > div.btnWrap button:first-child {
  color: var(--text-color-1);
  background-color: transparent;
}
.mypageWrap > section .mpTop .basicInfo > div.btnWrap button:last-child {
  color: var(--bg-color-1);
  background-color: var(--text-color-1);
}
.mypageWrap > section .mpTop .ratingInfo {
  border-top: 1px solid var(--bg-color-3);
  border-bottom: 1px solid var(--bg-color-3);
}
.mypageWrap > section .mpTop .ratingInfo ul {
  display: flex;
}
.mypageWrap > section .mpTop .ratingInfo ul li {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.mypageWrap > section .mpTop .ratingInfo ul li p:first-child {
  font-weight: 600;
  color: var(--text-color-1);
  font-size: var(--text-size-base);
}
.mypageWrap > section .mpTop .ratingInfo ul li p:last-child {
  font-weight: 400;
  font-size: var(--text-size-xs);
  color: var(--text-color-3);
}
.mypageWrap > section .mpBtm {
  margin-top: 50px;
}
.mypageWrap > section .mpBtm ul.mpCategories {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-color-1);
}
.mypageWrap > section .mpBtm ul.mpCategories li {
  flex: 1;
  text-align: center;
}
.mypageWrap > section .mpBtm ul.mpCategories li.active > a {
  font-weight: 800;
}
.mypageWrap > section .mpBtm ul.mpCategories li.active > a::after {
  display: block;
}
.mypageWrap > section .mpBtm ul.mpCategories li a {
  display: inline-block;
  padding: 10px 0;
  font-size: var(--text-size-base);
  color: var(--text-color-1);
  font-weight: 400;
  position: relative;
}
.mypageWrap > section .mpBtm ul.mpCategories li a::after {
  content: "";
  display: none;
  background-color: var(--text-color-1);
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -2px;
}
.mypageWrap > section .mpBtm section {
  min-height: 300px;
  padding: 0 var(--side-padding);
}
.mypageWrap > section .mpBtm section p.info {
  text-align: center;
  padding: 20px 0;
  font-size: var(--text-size-xs);
  color: var(--text-color-3);
}
.mypageWrap > section .mpBtm section .editBtnWrap {
  padding-top: 40px;
  display: flex;
  gap: 15px;
}
.mypageWrap > section .mpBtm section .editBtnWrap a {
  transition: all 0.2s;
  width: calc((100% - 15px) / 2);
  padding: 17px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  font-size: var(--text-size-xl);
}
.mypageWrap > section .mpBtm section .editBtnWrap a:first-child {
  background-color: var(--bg-color-3);
  color: var(--text-color-1);
}
.mypageWrap > section .mpBtm section .editBtnWrap a:last-child {
  background-color: var(--text-color-2);
  color: var(--bg-color-1);
}
.mypageWrap > section .mpBtm section .editBtnWrap a:hover {
  opacity: 0.7;
}
.mypageWrap > section .mpBtm section .editBtnWrap a svg {
  width: 22px;
  height: 22px;
}

.notifications {
  margin-top: 40px;
}
.notifications ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.notifications ul li .alert {
  cursor: pointer;
  background-color: var(--bg-color-2);
  transition: all 0.08s;
}
.notifications ul li .alert > * {
  font-size: var(--text-size-sm);
}
.notifications ul li .alert > div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.notifications ul li .alert:hover {
  transform: scale(1.02);
}
.notifications ul li .alert svg {
  width: 25px;
  height: 25px;
}

.search-wrap {
  position: relative;
  width: 40rem;
  height: 5.2rem;
  margin: 3rem auto;
  padding: 0;
}
.search-wrap > input {
  width: 100%;
  height: 5.2rem;
  border: 0.2rem solid var(--text-color-1);
  font-size: var(--text-size-lg);
  border-radius: 10rem;
  padding: 0 2rem;
}
.search-wrap > input:focus, .search-wrap > input:active {
  border-color: var(--main-color-brand);
  outline: none;
}
.search-wrap > input::-webkit-search-decoration, .search-wrap > input::-webkit-search-cancel-button, .search-wrap > input::-webkit-search-results-button, .search-wrap > input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.search-wrap > button {
  position: absolute;
  top: 50%;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
  transform: translate(0, -50%);
  z-index: 1;
}

.filter-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch-wrap {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.switch-wrap > p {
  font-size: var(--text-size-base);
  font-weight: 400;
}
.switch-wrap .toggle-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 5rem;
  height: 2.8rem;
  background: var(--text-color-5);
  border-radius: 5rem;
  margin-left: 1rem;
}
.switch-wrap .toggle-container.toggle--checked {
  background: var(--main-color-brand);
}
.switch-wrap .toggle-container .toggle-circle {
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 5rem;
  background: #fff;
  margin-left: 0.3rem;
  transition: all 0.3s;
}
.switch-wrap .toggle-container .toggle-circle.toggle--checked {
  margin-left: 2.5rem;
}

.category-wrap {
  display: flex;
}
.category-wrap .category-con {
  display: flex;
  align-items: center;
}
.category-wrap .category-con .from-to-line {
  width: 2rem;
  height: 0.1rem;
  background-color: var(--text-color-5);
  margin: 0 1rem 0 0.5rem;
}
.category-wrap button {
  display: flex;
  align-items: center;
  font-size: var(--text-size-sm);
  margin-right: 0.5rem;
  padding: 0 1.2rem;
  line-height: 3rem;
  height: 3rem;
  position: relative;
  cursor: pointer;
  border: 0.1rem solid var(--text-color-5);
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: content-box;
}
.category-wrap button.active {
  border: 0.1rem solid var(--main-color-brand);
  color: var(--main-color-brand);
}
.category-wrap button.active .category-arrow {
  transform: rotate(180deg);
  padding-left: 0rem;
  padding-right: 0.5rem;
}
.category-wrap button .category-arrow {
  padding-left: 0.5rem;
}
.category-wrap .filter-dialog {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  transition: opacity 0.3s ease;
}
.category-wrap .filter-dialog .modal-wrapper {
  height: fit-content;
  width: 36rem;
  right: 0;
  top: 50%;
  bottom: 50%;
  margin: auto;
  border-radius: 2rem;
  transform: initial;
  animation: none;
  background-color: var(--bg-color-2);
}
.category-wrap .filter-dialog .modal-header {
  padding: 1.6rem 2rem;
  min-height: 4rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-size: var(--text-size-lg);
}
.category-wrap .filter-dialog .modal-header h3 {
  display: flex;
  align-items: center;
}
.category-wrap .filter-dialog .modal-body {
  overflow-y: auto;
  padding: 1rem 1rem 1rem 2rem;
}
.category-wrap .filter-dialog .modal-body li {
  box-shadow: inset 0 -0.1rem 0 #d9e0e6;
  margin: 0;
  min-height: 5rem;
  line-height: 5rem;
  font-size: var(--text-size-sm);
  background-color: var(--bg-color-2);
}
.category-wrap .filter-dialog .modal-body li:last-child {
  box-shadow: none;
}

.board-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 4rem auto 0;
}
.board-header > p {
  font-size: var(--text-size-sm);
  font-weight: 400;
}

.board-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: var(--text-size-base);
}
.board-list .board-item {
  background-color: var(--bg-color-2);
  border: 0.1rem solid var(--text-color-5);
  border-radius: 1rem;
  padding: 1.5rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  cursor: pointer;
}
.board-list .board-item .badge {
  display: flex;
  padding: 1.2rem 1rem;
  background-color: var(--text-color-1);
  color: var(--bg-color-2);
  font-size: var(--text-size-xs);
  border-radius: 0.3rem;
  min-width: 6rem;
}
.board-list .board-item .content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.board-list .board-item .content .title {
  font-weight: 700;
}
.board-list .board-item .content .condition {
  margin-top: 1rem;
  color: var(--text-color-4);
  font-size: var(--text-size-xs);
}
.board-list .board-item .content .condition .gender {
  font-weight: 400;
}
.board-list .board-item .content .condition .bar {
  margin: 0px 1rem;
  position: relative;
}
.board-list .board-item .content .condition .bar::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -0.5rem;
  display: block;
  overflow: hidden;
  width: 0.1rem;
  height: 1rem;
  background-color: var(--text-color-5);
}
.board-list .board-item .content .condition .level {
  font-weight: 400;
}
.board-list .board-item .status {
  font-weight: 500;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  color: var(--text-color-4);
  gap: 1rem;
  padding-top: 3rem;
}
.pagination .page-item {
  transition: all 0s ease 0s;
  cursor: pointer;
}
.pagination .page-item .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-size-sm);
  background: var(--bg-color-2);
  border: 1px solid var(--bg-color-3);
  border-radius: 0.5rem;
  width: 3.8rem;
  height: 3.8rem;
}
.pagination .page-item.active > .page-link {
  background: var(--main-color-brand);
  color: var(--bg-color-2);
}

.record_detail_sec {
  overflow-y: auto;
  height: 100%;
  padding: 0;
}
.record_detail_sec > * {
  padding: 0 var(--side-padding);
}
.record_detail_sec .page_top {
  backdrop-filter: blur(10px);
  background-color: transparent;
  transition: all 0.4s;
  padding: 40px 7% 30px;
  position: sticky;
  top: 0;
}
.record_detail_sec .page_top:is(.scrolled > div) {
  margin: 20px;
  top: 10px;
  border-radius: 14px;
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.1215686275);
  padding-left: 70px;
}
.record_detail_sec .page_top:is(.scrolled > div) button {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.record_detail_sec .page_top:is(.scrolled > div) button svg {
  width: 38px;
  height: 38px;
}
.record_detail_sec .page_top button {
  transition: all 0.3s;
  position: absolute;
  left: 15px;
  top: 15px;
}
.record_detail_sec .page_top button svg {
  width: 33px;
  height: 33px;
  color: var(--text-color-1);
  transform: scale(1);
}
.record_detail_sec .page_mid .icon_wrap {
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 15px;
}
.record_detail_sec .page_mid .icon_wrap svg {
  width: 22px;
  height: 22px;
}
.record_detail_sec .page_btm {
  margin: 20px 0;
}

.object-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  color: transparent;
}

.upload-wrap {
  width: 100%;
}

.editPwd {
  padding: 30px;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  gap: 30px;
}
.editPwd p {
  font-size: var(--text-size-2xl);
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}
.editPwd form {
  max-width: 100%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.editPwd form input {
  font-size: var(--text-size-base);
}
.editPwd form input[type=password] {
  width: 100%;
  padding: 13px;
  border: 1px solid var(--bg-color-4);
  background-color: transparent;
}
.editPwd form > div {
  margin-top: 20px;
  display: flex;
  width: 100%;
  gap: 10px;
}
.editPwd form > div input {
  cursor: pointer;
  text-align: center;
  padding: 15px 0;
  width: 50%;
  transition: all 0.1s;
}
.editPwd form > div input:hover {
  opacity: 0.8;
}
.editPwd form > div input:first-child {
  background-color: #ccc;
  color: #000;
}
.editPwd form > div input:last-child {
  color: #fff;
  background-color: rgb(39, 193, 0);
}

.editUser {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: var(--text-size-base);
  gap: 30px;
}
.editUser p {
  font-size: var(--text-size-2xl);
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}
.editUser form {
  min-width: 80%;
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.editUser form > div {
  display: flex;
  align-items: center;
  gap: 7px;
}
.editUser form > div > label {
  padding: 10px;
  width: 100px;
}
.editUser form > div > label:has(img) {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid #ccc;
  opacity: 0.8;
  overflow: hidden;
}
.editUser form > div > label:has(img) img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.editUser form > div:last-child {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 70px;
}
.editUser form > div > * {
  font-size: var(--text-size-base);
}
.editUser form > div input:not([type=submit], [type=button]) {
  border: 1px solid #ccc;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: transparent;
}
.editUser form > div input:not([type=radio]) {
  flex: 1;
}
.editUser form > div input[type=submit],
.editUser form > div input[type=button] {
  flex: 1;
  color: #fff;
  padding: 20px 0;
  transition: all 0.1s;
  font-weight: 500;
}
.editUser form > div input[type=submit]:hover,
.editUser form > div input[type=button]:hover {
  opacity: 0.8;
}
.editUser form > div input[type=submit] {
  background-color: rgb(39, 193, 0);
}
.editUser form > div input[type=button] {
  background-color: #a2a2a2;
}
.editUser form > div input[type=file] {
  display: none;
}

.notLoggedP {
  min-height: 50vh;
  min-width: 40vw;
  margin: 0 auto;
  width: fit-content;
  max-width: 100vw;
  font-size: var(--text-size-base);
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  overflow-y: auto;
  max-height: 90dvh;
}
.notLoggedP h2 {
  word-spacing: 5px;
  letter-spacing: 3px;
  text-align: center;
  font-size: var(--text-size-5xl);
  color: var(--text-color-2);
  font-weight: 200;
}
.notLoggedP h2 strong {
  font-weight: 500;
}
.notLoggedP form {
  margin-top: 80px;
  display: flex;
  gap: 10px;
}
.notLoggedP form div {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}
.notLoggedP form div input {
  flex: 1;
  padding: 10px 0;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding-left: 20px;
}
.notLoggedP form div input::placeholder {
  color: #999;
}
.notLoggedP form input[type=submit] {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding: 20px 50px;
  border-radius: 6px;
  margin: 0 auto;
  transition: all 0.1s;
}
.notLoggedP form input[type=submit]:hover {
  opacity: 0.8;
}
.notLoggedP .linkWrap {
  margin: 40px 0;
  display: flex;
  gap: 10px;
}
.notLoggedP .linkWrap a {
  flex: 1;
  text-align: center;
  padding: 20px 0;
  color: #fff;
  background-color: #222;
  transition: all 0.1s;
}
.notLoggedP .linkWrap a:hover {
  opacity: 0.8;
}
.notLoggedP .linkWrap a:first-child {
  background-color: #888;
}
.notLoggedP .linkWrap a:last-child {
  background-color: #444;
}
.notLoggedP hr {
  position: relative;
  overflow: visible;
  border-top: 1px solid #000;
}
.notLoggedP hr::after {
  background-color: #f8f8f8;
  padding: 0 10px;
  font-weight: 500;
  display: block;
  content: "OR";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
.notLoggedP .socialLogBtn {
  padding-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.notLoggedP .socialLogBtn button {
  flex: 1;
  padding: 18px 0;
  font-size: var(--text-size-base);
  border-radius: 5px;
  font-weight: 500;
}
.notLoggedP .socialLogBtn button.kakaoBtn {
  background-color: #FEE500;
}
.notLoggedP .socialLogBtn button.naverBtn {
  background-color: rgb(3, 199, 90);
  color: #fff;
}

.findPwdP form,
.createAccountP form {
  flex-direction: column;
}
.findPwdP form input,
.createAccountP form input {
  margin: unset !important;
}

.createAccountP form > div {
  gap: 14px;
}
.createAccountP form > div div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.createAccountP form > div div p,
.createAccountP form > div div button {
  padding: 12px 0;
  width: 110px;
  font-size: var(--text-size-base);
  background-color: #909090;
  color: #eee;
  border-radius: 4px;
  text-align: center;
  border-radius: 3px;
}
.createAccountP form > div div input[type=radio] {
  flex: unset;
}
.createAccountP form input[type=submit] {
  margin-top: 40px !important;
}

.tab_contents > div {
  min-height: 200px;
}
.tab_contents:is(.home_section > div) {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}