.editPwd {
  padding: 30px;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  gap: 30px;
  p {
    font-size: var(--text-size-2xl);
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }
  form {
    max-width: 100%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    input {
      font-size: var(--text-size-base);
    }
    input[type='password'] {
      width: 100%;
      padding: 13px;
      border: 1px solid #ccc;
    }
    & > div {
      margin-top: 20px;
      display: flex;
      width: 100%;
      gap: 10px;
      input {
        cursor: pointer;
        text-align: center;
        padding: 15px 0;
        width: 50%;
        transition: all 0.1s;
        &:hover {
          opacity: 0.8;
        }
        &:first-child {
          background-color: #ccc;
        }
        &:last-child {
          color: #fff;
          background-color: rgb(39, 193, 0);
        }
      }
    }
  }
}
