@use '../themes/theme' as *;
.editPwd {
  padding: 30px;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  gap: 30px;
  @include tablet {
    width: 70%;
  }
  @include mobile {
    width: 90%;
  }
  p {
    font-size: var(--text-size-2xl);
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }
  form {
    max-width: 100%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    input {
      font-size: var(--text-size-base);
    }
    input[type='password'] {
      width: 100%;
      padding: 13px;
      border: 1px solid var(--bg-color-4);
      background-color: transparent;
    }
    & > div {
      margin-top: 20px;
      display: flex;
      width: 100%;
      gap: 10px;
      button {
        flex: 1;
        line-height: 2rem;
      }
      input {
        cursor: pointer;
        text-align: center;
        padding: 15px 0;
        // width: 50%;
        flex: 1;
        transition: all 0.1s;
        &:hover {
          opacity: 0.8;
        }
        &:first-child {
          background-color: #ccc;
          color: #000;
        }
        &:last-child {
          color: #fff;
          background-color: rgb(39, 193, 0);
        }
      }
    }
  }
}
