.home_section {
  height: 100%;
  overflow-y: auto;
  .top_section {
    &:is(.scrolled > div) {
      padding-top: 60px;
      box-shadow: 0 0px 20px 0px #0000001f;
      ul {
        border-bottom: none;
      }
    }
    background-color: #ffffff0f;
    transition: all 0.4s;
    position: sticky;
    top: 0;
    padding-top: 40px;
    backdrop-filter: blur(10px);
  }
}
.go_to_follow {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
  padding: 30px;
  border-radius: 20px;
  border: 1px dashed #ccc;
  p {
    color: var(--text-color-3);
  }
  span {
    font-size: 50px;
  }
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--text-color-3);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--bg-color-2);
    transition: all .1s;
    &:hover {
      opacity: .8;
    }
    svg {
      width: 25px;
      height: 25px;
    }
  }
}
