@use '../themes/theme' as *;
.followManageBtn {
  position: absolute;
  right: 0;
  top: 30px;
  transition: all 0.2s;
  @include tablet {
    padding-right: 70px;
  }
  @include mobile {
    padding-right: 70px;
  }
}
.notifications {
  margin-top: 40px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    li {
      &.readed {
        opacity: 0.5;
      }
      .alert {
        cursor: pointer;
        background-color: var(--bg-color-2);
        transition: all 0.08s;
        & > * {
          font-size: var(--text-size-sm);
        }
        & > div {
          display: flex;
          flex-direction: column;
          gap: 5px;
          h3 {
            font-size: var(--text-size-base);
          }
          span {
            font-size: 11px;
            color: #888;
          }
        }
        &:hover {
          // transform: scale(1.02);
          filter: brightness(0.95);
        }
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
  &.followRequestWrap {
    ul {
      li {
        display: flex;
        background-color: var(--bg-color-2);
        p {
          display: flex;
          align-items: center;
          gap: 10px;
          flex: 1;
          font-size: var(--text-size-xl);
          padding: 10px;
          position: relative;
          svg {
            width: 30px;
            height: 30px;
          }
        }
        div {
          display: flex;
          gap: 3px;
        }
      }
    }
  }
}

.notificationWrap {
  position: fixed;
  // border: 1px solid red;
  top: 0;
  width: 100%;
  padding-left: 300px;
  max-width: 1000px;
  z-index: 100;
  left: 50%;
  transition: all 0.7s;
  opacity: 0;
  transform: translate(-50%,-200px);
  &:has(.hasNotification) {
    opacity: 1;
    transform: translate(-50%,0);
  }
  .inner {
    padding: 16px 20px;
    section {
      transition: all 0.7s;
      border-radius: 10px;
      padding: 40px 30px 20px;
      // background-color: rgb(255, 255, 255);
      // background-color: #eee;
      // box-shadow: 0 0 30px 0 #00000013;
      // border: 1px solid #eee;
      // display: flex;
      position: relative;
      button {
        width: 100%;
        display: flex;
        justify-content: right;
        position: absolute;
        top: 15px;
        right: 15px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      div {
        display: flex;
        gap: 10px;
        align-items: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        p {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 100%;
          word-break: break-all;
          font-size: var(--text-size-base);
        }

        // color: #fff;
      }
    }
  }
}
