.notifications {
  margin-top: 40px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    li {
      .alert {
        cursor: pointer;
        background-color: var(--bg-color-2);
        transition: all 0.08s;
        & > * {
          font-size: var(--text-size-sm);
        }
        &>div{
          display: flex;
          flex-direction: column;
          gap: 3px;
        }
        &:hover {
          transform: scale(1.02);
        }
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
