.profile_info {
  background-color: var(--bg-color-4);
  padding-top: 50px;
  position: relative;
  padding-bottom: 30px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--bg-color-2);
    width: 100%;
    height: 50px;
    z-index: 0;
    bottom: 0;
    left: 0;
  }
  .inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 30px;
  }
}

.profile_contents {
  background-color: var(--bg-color-2);
  padding: 0;
  position: relative;
  .contents {
    margin-top: 30px;
    & > div {
      min-height: 200px;
      display: none;
      &.active {
        display: block;
      }
    }
  }
}
