@use '../themes/theme' as *;
.profile_info {
  background-color: var(--bg-color-4);
  padding-top: 50px;
  position: relative;
  padding-bottom: 30px;
  &::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--bg-color-2);
    width: 100%;
    height: 50px;
    z-index: 0;
    bottom: 0;
    left: 0;
  }
  .inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 20px;
    .follow {
      display: flex;
      gap: 6px;
      align-items: center;
      & > a {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0 0 3px 0 #33333311;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
    @include mobile {
      flex-wrap: wrap;
      .user_info {
        width: unset;
      }
      .follow {
        display: flex;
        justify-content: right;
        width: 100%;
      }
    }
    .lock {
      svg {
        width: 40px;
        height: 40px;
      }
    }
    .avatar_img {
      width: 180px;
      height: 180px;
      @include mobile {
        width: 100px;
        height: 100px;
      }
    }
  }
}

.profile_contents {
  background-color: var(--bg-color-2);
  padding: 0;
  position: relative;
  min-height: 200px;
  .contents_lock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    p {
      font-size: var(--text-size-base);
      color: var(--text-color-3);
    }
    svg {
      width: 40px;
      height: 40px;
      color: var(--text-color-3);
    }
  }
}

.profileFollowList{
  display: flex;
  align-items: center;
  gap: 10px;
  p{
    max-width: fit-content;
    width: max-content;
    font-size: var(--text-size-xs);
    color:var(--text-color-1);
    span{
      font-weight: 800;
    }
  }
}