.write-tit {
  font-size: var(--text-size-xl);
  font-weight: 700;
  margin: 4rem 0 0;
}
.explore-form {
  padding-top: 5rem;
  padding-bottom: 6rem;

  & label {
    min-width: 6rem;
    font-size: var(--text-size-base);
    font-weight: 500;
    margin-bottom: 1rem;
    white-space: nowrap;
    margin-top: 1rem;
    margin-right: 2rem;
  }

  .tit-input-wrap {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 2rem;

    & > input {
      display: block;
      width: 100%;
      padding: 1rem;
      border-radius: 0.5rem;
      border: 0.1rem solid var(--text-color-5);
      font-size: var(--text-size-sm);
    }

    & > textarea {
      width: 100%;
      height: 10rem;
      padding: 1rem;
      line-height: 1.5rem;
      border-radius: 0.5rem;
      border: 0.1rem solid var(--text-color-5);
      font-size: var(--text-size-sm);
      resize: none;
    }
  }

  .input-wrap {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 2rem;

    & > .input-box {
      display: flex;

      & > input {
        display: block;
        width: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 0.1rem solid var(--text-color-5);
        font-size: var(--text-size-sm);
      }

      & > p {
        display: flex;
        align-items: center;
        font-size: var(--text-size-sm);
        margin-left: 0.5rem;
        color: var(--text-color-2);
      }
    }
  }

  .category-wrap {
    display: flex;
    margin-bottom: 2rem;

    .category-con {
      display: flex;
      align-items: center;

      & .from-to-line {
        width: 2rem;
        height: 0.1rem;
        background-color: var(--text-color-5);
        margin: 0 1rem 0 0.5rem;
      }
    }

    & button {
      display: flex;
      align-items: center;
      font-size: var(--text-size-sm);
      margin-right: 0.5rem;
      padding: 0 1.2rem;
      line-height: 3rem;
      height: 3rem;
      position: relative;
      cursor: pointer;
      border: 0.1rem solid var(--text-color-5);
      border-radius: 2rem;
      transition: all 0.3s ease-in-out;
      outline: none;
      box-sizing: content-box;

      &.active {
        border: 0.1rem solid var(--main-color-brand);
        color: var(--main-color-brand);

        & .category-arrow {
          transform: rotate(180deg);
          padding-left: 0rem;
          padding-right: 0.5rem;
        }
      }

      & .category-arrow {
        padding-left: 0.5rem;
      }
    }

    .filter-dialog {
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      transition: opacity 0.3s ease;

      .modal-wrapper {
        height: fit-content;
        width: 36rem;
        right: 0;
        top: 50%;
        bottom: 50%;
        margin: auto;
        border-radius: 2rem;
        transform: initial;
        animation: none;
        background-color: var(--bg-color-2);
      }

      .modal-header {
        padding: 1.6rem 2rem;
        min-height: 4rem;
        text-align: left;
        display: flex;
        justify-content: space-between;
        font-size: var(--text-size-lg);

        & h3 {
          display: flex;
          align-items: center;
        }
      }

      .modal-body {
        overflow-y: auto;
        padding: 1rem 1rem 1rem 2rem;

        & li {
          box-shadow: inset 0 -0.1rem 0 #d9e0e6;
          margin: 0;
          min-height: 5rem;
          line-height: 5rem;
          font-size: var(--text-size-sm);
          background-color: var(--bg-color-2);

          &:last-child {
            box-shadow: none;
          }
        }
      }
    }
  }
}

.back-arrow {
  padding: 0px 1rem;
  height: 4rem;
  border-radius: 10rem;
  background-color: var(--text-color-1);
  color: var(--bg-color-2);
  font-weight: 700;
  font-size: 1.4rem;
  transition: all 0.1s ease-out 0s;

  & > i {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    vertical-align: middle;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.8rem;
      height: 0.8rem;
      border-top: 0.2rem solid var(--bg-color-2);
      border-left: 0.2rem solid var(--bg-color-2);
      transform: translate(-35%, -55%) rotate(315deg);
    }
  }
}

.recruit-detail-wrap {
  height: 100%;
  overflow-y: auto;
  padding: 0;

  .content-header {
    &:is(.scrolled > div) {
      padding-top: 6rem;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s;
    position: sticky;
    top: 0;
    padding: 2rem var(--side-padding) 2rem;
    backdrop-filter: blur(10px);
    z-index: 10;
  }
}

.content-body {
  margin: 0 auto;
  background-color: var(--bg-color-5);
  padding: 0 2rem 10rem;

  .map-wrap {
    height: 30rem;
  }
  .main-body-wrap {
    display: flex;
    color: var(--text-color-1);
    font-size: var(--text-size-base);

    .left-body-wrap {
      width: 35%;

      .match-point-con {
        background-color: var(--bg-color-2);
        border-radius: 1rem;
        margin-top: 2rem;
        box-shadow: rgba(73, 73, 73, 0.1) 0 1.2rem 2.5rem 0;

        .match-title {
          font-weight: 700;
          font-size: var(--text-size-base);
          padding: 2rem 1.4rem;
        }

        .match-content {
          padding: 0 1.4rem 2.4rem 1.4rem;
          .data-wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 1rem;

            .data-box {
              width: 100%;
              display: inline-flex;
              align-items: center;
              padding: 1rem 0;

              & > p {
                padding: 0 1rem;
              }
              & > .from-to-line {
                width: 2rem;
                height: 0.1rem;
                background-color: var(--text-color-5);
                margin: 0 1rem 0 0.5rem;
              }
            }
          }
          .average-wrap {
            margin-top: 1rem;
            border-top: 0.1rem solid var(--text-color-5);

            & > .average-title {
              display: flex;
              margin-top: 2rem;
            }
          }
        }
      }
      .recruit-detail-con {
        margin-top: 1rem;
        background-color: var(--bg-color-2);
        border-radius: 1rem;
        box-shadow: rgba(73, 73, 73, 0.1) 0 1.2rem 2.5rem 0;

        .match-title {
          font-weight: 600;
          font-size: var(--text-size-base);
          padding: 2rem 1.4rem;
        }
        .match-content {
          padding: 0 1.4rem 2.4rem 1.4rem;
          line-height: 1.35;
        }
      }
    }

    .right-body-wrap {
      width: 65%;
      max-width: 100%;
      margin-top: 2rem;
      margin-left: 1rem;
      height: fit-content;
      position: sticky;
      position: -webkit-sticky;
      top: 11rem;

      z-index: 3;

      .apply-con {
        background-color: var(--bg-color-2);
        border-radius: 1rem;
        padding: 2rem 1.4rem;
        box-shadow: rgba(73, 73, 73, 0.1) 0 1.2rem 2.5rem 0;

        .apply-main-section {
          .match-person {
            font-size: var(--text-size-sm);
            color: var(--text-color-3);
          }
          .match-title {
            font-weight: 600;
            font-size: var(--text-size-base);
            padding: 1.2rem 0 2rem;
          }
          .match-time {
            color: var(--text-color-1);
            font-size: var(--text-size-sm);
            padding-bottom: 1rem;
            font-weight: 700;
            display: flex;
            align-items: center;

            .match-time-info {
              color: var(--bg-color-1);
              background-color: var(--text-color-2);
              padding: 0.4rem 1rem;
              border-radius: 3rem;
              font-size: var(--text-size-xs);
              font-weight: 500;
              margin-right: 0.5rem;
            }
          }
          .match-place {
            color: var(--text-color-1);
            font-size: var(--text-size-sm);
            padding-bottom: 3rem;
            font-weight: 700;
            display: flex;
            align-items: center;

            .match-place-info {
              color: var(--bg-color-1);
              background-color: var(--text-color-2);
              padding: 0.4rem 1rem;
              border-radius: 3rem;
              font-size: var(--text-size-xs);
              font-weight: 500;
              margin-right: 0.5rem;
            }

            .info-box .place-space {
              margin-right: 0.4rem;
            }
          }
          .match-price {
            color: var(--main-color-red);
            font-size: var(--text-size-xl);
            padding-bottom: 1rem;
            font-weight: 700;
            line-height: 1.5;
          }
        }
        .apply-register-section {
          margin-top: 1rem;
          padding-top: 1rem;
          border-top: 0.1rem solid var(--text-color-5);
          display: flex;
          align-items: center;
          justify-content: space-between;

          .apply-status {
            color: var(--text-color-2);
            font-size: var(--text-size-lg);
            font-weight: 600;
          }
        }
      }
    }
  }
}

// 파트너 평가하기
.modal-header {
  padding: 0 2rem;
  min-height: 4rem !important;
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-size: var(--text-size-lg);
  font-weight: 600;
  border-bottom: 0.1rem solid var(--text-color-5);
}

.modal-body {
  overflow-y: auto;
  padding: 2rem 1rem 1rem 2rem;
  font-size: var(--text-size-base);
}

.manners-wrap {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & > label {
    font-weight: 800;
    font-size: var(--text-size-lg);
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    min-width: 12rem;
  }
  & > button {
    font-weight: 700;
    background-color: var(--bg-color-1);
    border-radius: 0.3rem;
    margin: 0 0.3rem 0.5rem;
    padding: 1rem;
    width: 4rem;
    height: 4rem;

    &.active {
      background-color: var(--main-color-brand);
      color: var(--bg-color-2);
    }
  }
}

.passion-wrap {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & > label {
    font-weight: 800;
    font-size: var(--text-size-lg);
    margin-right: 1rem;
    min-width: 12rem;
  }
  & > button {
    font-weight: 700;
    background-color: var(--bg-color-1);
    border-radius: 0.3rem;
    margin: 0 0.3rem 0.5rem;
    padding: 1rem;
    width: 4rem;
    height: 4rem;

    &.active {
      background-color: var(--main-color-brand);
      color: var(--bg-color-2);
    }
  }
}

.teamwork-wrap {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & > label {
    font-weight: 800;
    font-size: var(--text-size-lg);
    margin-right: 1rem;
    min-width: 12rem;
  }
  & > button {
    font-weight: 700;
    background-color: var(--bg-color-1);
    border-radius: 0.3rem;
    margin: 0 0.3rem 0.5rem;
    padding: 1rem;
    width: 4rem;
    height: 4rem;

    &.active {
      background-color: var(--main-color-brand);
      color: var(--bg-color-2);
    }
  }
}

.skill-wrap {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .skill-item {
    display: flex;
    margin-bottom: 2rem;
  }
  .level-info {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    min-width: 12rem;

    & > strong {
      font-size: var(--text-size-base);
    }

    & > span {
      font-size: var(--text-size-sm);
      color: var(--text-color-4);
      margin-top: 0.6rem;
    }
  }
  & label {
    font-weight: 800;
    font-size: var(--text-size-lg);
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  & button {
    font-weight: 700;
    background-color: var(--bg-color-1);
    border-radius: 0.3rem;
    margin: 0 0.3rem 0.5rem;
    padding: 1rem;
    width: 4rem;
    height: 4rem;

    &:disabled {
      background-color: var(--main-color-brand);
      color: var(--bg-color-2);
    }
  }
}

// 신청자 관리하기
.accept-info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;

  .accept-info {
    display: flex;

    & > p {
      font-weight: 600;
      margin-right: 1rem;
    }
  }
}

.apply-wrap {
  margin-top: 1rem;
  margin-bottom: 3rem;

  & label {
    display: block;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

.accept-wrap {
  margin-top: 1rem;

  & label {
    display: block;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

.apply-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: var(--text-size-base);

  & > .apply-item {
    background-color: var(--bg-color-2);
    border: 0.1rem solid var(--text-color-5);
    border-radius: 1rem;
    padding: 1.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    cursor: pointer;

    & > .status-badge {
      display: flex;
      padding: 1rem 1.2rem;
      background-color: var(--text-color-1);
      color: var(--bg-color-2);
      font-size: var(--text-size-xs);
      border-radius: 0.3rem;
      justify-content: center;
    }
    & > .cont {
      display: flex;
      align-items: center;
      flex: 1;

      & > .name {
        font-weight: 700;
      }
      & > .info {
        margin-left: 1rem;
        color: var(--text-color-4);
        font-size: var(--text-size-xs);

        & .gender {
          font-weight: 400;
        }
        & .bar {
          margin: 0px 1rem;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: 0px;
            top: 50%;
            margin-top: -0.5rem;
            display: block;
            overflow: hidden;
            width: 0.1rem;
            height: 1rem;
            background-color: var(--text-color-5);
          }
        }
        & .manner {
          font-weight: 400;
        }
      }
    }

    & > .button-wrap {
      // & .reject {
      //   display: flex;
      //   padding: 1.2rem 1rem;
      //   background-color: var(--text-color-1);
      //   color: var(--bg-color-2);
      //   font-size: var(--text-size-xs);
      //   border-radius: 0.3rem;
      //   min-width: 6rem;
      // }
      // & .accept {
      //   display: flex;
      //   padding: 1.2rem 1rem;
      //   background-color: var(--text-color-1);
      //   color: var(--bg-color-2);
      //   font-size: var(--text-size-xs);
      //   border-radius: 0.3rem;
      //   min-width: 6rem;
      // }
    }
  }
}
