.modalInner:has(.findUserWrap){
  max-width: 600px;
}
.findUserWrap {
  padding: 50px 30px 30px;
  max-width: 700px;
  margin: 0 auto;
  min-height: unset !important;
  form {
    display: flex;
    border: 1px solid #333;
    border-radius: 25px;
    padding: 0 20px;
    gap: 4px;
    overflow: hidden;
    align-items: center;
    input {
      padding: 15px;
      font-size: 15px;
      flex: 1;
      background-color: transparent;
    }
    button {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
