.findUserWrap {
  padding-top: 50px;
  form {
    display: flex;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 0 10px 0 0;
    gap: 4px;
    overflow: hidden;
    align-items: center;
    input {
      padding: 15px;
      font-size: 15px;
      flex: 1;
      background-color: transparent;
    }
    button {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
