// on
$main-color-brand: #256df9;
$main-color-red: #e45141;
$main-color-orange: #f57e25;
$text-color-on-1: #242424;
$text-color-on-2: #555;
$text-color-on-3: #a5a5a5;
$text-color-on-4: #6f6f6f;
$text-color-on-5: #dfdfdf;
$bg-color-on-1: #eee;
$bg-color-on-2: #fff;
$bg-color-on-3: #f2f2f2;
$bg-color-on-4: #ececec;

//off
$main-color-brand: #256df9;
$main-color-red: #e45141;
$main-color-orange: #f57e25;
$text-color-off-1: #fff;
$text-color-off-2: #f2f2f2;
$text-color-off-3: #d8d8d8;
$text-color-off-4: #d8d8d8;
$text-color-off-5: #777;
$bg-color-off-1: #252a33;
$bg-color-off-2: #2a303d;
$bg-color-off-3: #3f4246;
$bg-color-off-4: #464e5b;
