$viewWidth: 1280px;
// on
$text-color-on-1: #000;
$text-color-on-2: #222;
$text-color-on-3: #707070;
$bg-color-on-1: #eee;
$bg-color-on-2: #fff;
$bg-color-on-3: #f3f3f3;
$bg-color-on-4: #ececec;
//off
$text-color-off-1: #fff;
$text-color-off-2: #a6adbb;
$text-color-off-3: #a6adbb;
$bg-color-off-1: #252a33;
$bg-color-off-2: #2a303d;
$bg-color-off-3: #3f4246;
$bg-color-off-4: #464e5b;
